@model SomeeMVC_4.Models.UsersModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12">
        @if (Model != null)
        {
            @Model.Id<br/>
            @Model.Email<br/>
            @Model.DisplayName<br/>
            @Model.Status
        }
    </div>
</div>